@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: rgba(208, 0, 0, 0.929);
    color: white;
    padding: 20px;
    
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: red;
}